.gameInfo {
  display: flex;
  font-size: 36px;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Verdana";
}

.gameInfo .spacer {
  flex: 1;
}

.board {
  display: inline-flex;
  flex-direction: column;
  border: 0 solid black;
  margin-top: 60px;
  border-top-width: 1px;
  border-left-width: 1px;
  background-color: var(--green);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 3px solid rgba(211, 211, 211, 0.4) !important;
}


@keyframes turn-text-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.label{
  margin-right: 16px;
  animation: 0.6s ease-in-out turn-text-animation;
  color: var(--turquoise);
}

.scoreDelimitter{
  margin: 2 18px;
}

.playerInfo {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px var(--yellow);
  background-color: var(--yellow);
}

.scoreInfo {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: solid 1px var(--yellow);
  background-color: var(--yellow);
}