.Tile {
  height: 60px;
  width: 60px;
  border: 0 solid black;
  border-bottom-width: 1px;
  border-right-width: 1px;
  cursor: pointer;
}

.B {
  fill: var(--black);
}

.W {
  fill: var(--white);
}

.P, .E {
  fill: var(--green);
}

.P:hover {
  fill: var(--turquoise);
}